.container {
  height: 100vh;
  display: block;
  text-align: center;
}

.img {
  display: block;
  width: 100%;
}

.job-title {
  font-size: 2rem;
  text-transform: capitalize;
}

.mainBtn {
  border: none;
  outline: none;
  color: black;
  background: #d69847;
  padding: .6rem 1rem;
}

.center {
  position: absolute;
  top: 20%;
  left: 50%;
}
